[Unit]
Description=Don't Starve Together Dedicated Server
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
# Takes a boolean value that specifies whether the service shall
# be considered active even when all its processes exited. Defaults to no.
RemainAfterExit=no
GuessMainPID=no
# Since we do not have a MAIN process, this is actually irelevant.
Restart=never
# The user the screen sessions will run under.
User=<OWNER USER NAME>
Group=<OWNER GROUP NAME>
# This has to be set in order for proper reading of configuration files
# with relative paths inside the run script.
WorkingDirectory=<PATH TO YOUR BOOT DIRECTORY>
ExecStart=<PATH TO YOUR BOOT DIRECTORY>/start.sh
ExecReload=<PATH TO YOUR BOOT DIRECTORY>/reload.sh
ExecStop=<PATH TO YOUR BOOT DIRECTORY>/stop.sh

[Install]
WantedBy=multi-user.target
